/*-------------- menu --------------*/
$text-color: #5c7b98;
$search-line-background: #edf2f8;
$menu-height: 40px;

.menu {
  background: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  .container {
    text-align: center;
  }
}

.menu__list {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
  @extend .clearfix;
}

.menu__item {
  float: left;
  background: url("../img/menu-div.png") right 0 no-repeat;
  height: 40px;
  padding: 0 25px 0 10px;

  &.menu__item_last {
    background-image: none;
  }

  &.current {
    background: url("../img/menu-current.png") right 0 no-repeat;
    padding-right: 0px;

    .menu__link {
      background: url("../img/menu-current.png") 0 0 no-repeat;
      position: relative;
      left: -25px;
      padding-left: 25px;
      color: #f7f7f7;
    }
  }

  &:not(.current):hover {
    background: url("../img/menu-hover.png") right 0 no-repeat;
    padding-right: 0;

    .menu__link {
      background: url("../img/menu-hover.png") 0 0 no-repeat;
      position: relative;
      left: -25px;
      padding-left: 25px;
    }
  }
}

.menu__link {
  display: block;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}
