/* стили для страницы с товаром */
.menu-point {
  line-height: 60px;
}

.menu-point__link {
  padding: 0 5px;
  color: #00b9fe;
  &:hover {
    color: #613993;
  }
  &:first-child {
    padding-left: 0;
  }
}
