//- Вставка с информацией о магазине

article.about-store
  h2.about-store__header Пара слов о магазине
  .about-store__body
    .about-store__column Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam aut sequi consequuntur temporibus iusto sunt, saepe fugiat. Molestias rerum asperiores soluta nihil libero eum aperiam consequuntur numquam at fugit.  Mollitia eveniet nulla aliquid qui, soluta, nihil dolore tempore est ea, blanditiis.
    .about-store__column  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptatem doloribus quaerat velit est quod placeat rerum, minima sed unde iure laborum obcaecati. Quaerat repellendus rerum numquam, sapiente, optio minima?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eveniet nulla aliquid qui, soluta, nihil dolore tempore est ea, blanditiis, consectetur possimus maxime.
    .about-store__column  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium pariatur placeat vero distinctio dolorem, illum iste tempora soluta! Blanditiis, sunt rem temporibus laboriosam rerum eaque voluptates nemo, esse fugiat distinctio!