head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  block title
    title Document

  // SEO
  meta(name="author", content="")
  meta(name="description", content="")
  meta(name="keywords", content="")
  // favicon.ico
  link(rel='shortcut icon', href='favicon.ico', type="image/x-icon")
  link(rel='icon', href='favicon.ico', type="image/x-icon")

  // CSS
  // build:css css/vendor.min.css
  link(rel="stylesheet", href="bower/normalize.css/normalize.css")
  // endbuild
  // build:css css/main.min.css
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/product.css")
  link(rel="stylesheet", href="css/about-store.css")
  // endbuild

  // Fonts
  // build:css fonts/fonts.min.css
  link(rel="stylesheet", href="fonts/fonts.css")
  // endbuild

  // Javascript
  // build:js js/modernizr.min.js
  script(src="bower/modernizer/modernizr.js")
  // endbuild