header.header
  .top-line
    .container
      .top-buttons
        ul.top-buttons__list
          li.top-buttons__item: a.top-buttons__link.vk-mini(href="#", target="_blank"): span.visuallyhidden ВКонтакте
          li.top-buttons__item: a.top-buttons__link.fb-mini(href="#", target="_blank"): span.visuallyhidden Facebook
          li.top-buttons__item: a.top-buttons__link.tw-mini(href="#", target="_blank"): span.visuallyhidden Twitter
      .top-geo г. Москва, ул. Новая 246, офис 214
      .top-phone
        a.top-phone__link(href="tel:+79213221232")
          span.top-phone__prefix +7 (921)
          span.top-phone__number 322 12 32
  .search-line
    .container
      a.logo-main(href="#")
        img(src="img/logo-main.png", alt="Логотип ЭпплShop")
        span.visuallyhidden Логотип ЭпплShop
      .search-line__form
        form(action="", method="get")
          input(type="text", placeholder="iMac 27 дюймов").search-line__input
          input(type="submit", value="Поиск").search-line__submit
      ul.search-line__list
        li.search-line__item
          a.search-line__link(href="#") Карта проезда
        li.search-line__item
          a.search-line__link(href="#") История заказов
        li.search-line__item
          a.search-line__link.icon-basket#basket(href="#") Корзина (3)
