block menu_current

- var menu = { 'Мобильные телефоны': '#', 'Планшеты': '#', 'Mp3 плееры': '#', 'Персональные компьютеры': '#', 'Ноутбуки': '#', 'Apple TV': '#', 'Аксессуары': '#'};
- var item_last = 'Аксессуары';

nav.menu
  .container
    ul.menu__list
      for val, key in menu
        li(class="menu__item" + ((key === menu_current) ? ' current' : '') + ((key === item_last) ? ' menu__item_last' : ''))
          a.menu__link(href=val)= key
