//- слайдер с фотографиями продукта

.product-slider__display
  img(src="img/product/1.jpg", alt="Product's photo")
ul.product-slider__list
  li.product-slider__item.active
    a.product-slider__pic(href="#")
      img(src="img/product/1.jpg", alt="Product's photo")
  li.product-slider__item
    a.product-slider__pic(href="#")
      img(src="img/product/2.jpg", alt="Product's photo")
  li.product-slider__item
    a.product-slider__pic(href="#")
      img(src="img/product/3.jpg", alt="Product's photo")
