/*-------------- menu --------------*/
.menu {
  background: #f7f7f7;
  border-bottom: 1px solid #e3e3e3; }
  .menu .container {
    text-align: center; }

.menu__list {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0; }

.menu__item {
  float: left;
  background: url("../img/menu-div.png") right 0 no-repeat;
  height: 40px;
  padding: 0 25px 0 10px; }
  .menu__item.menu__item_last {
    background-image: none; }
  .menu__item.current {
    background: url("../img/menu-current.png") right 0 no-repeat;
    padding-right: 0px; }
    .menu__item.current .menu__link {
      background: url("../img/menu-current.png") 0 0 no-repeat;
      position: relative;
      left: -25px;
      padding-left: 25px;
      color: #f7f7f7; }
  .menu__item:hover {
    background: url("../img/menu-hover.png") right 0 no-repeat;
    padding-right: 0; }
    .menu__item:hover .menu__link {
      background: url("../img/menu-hover.png") 0 0 no-repeat;
      position: relative;
      left: -25px;
      padding-left: 25px;
      color: #5c7b98; }

.menu__link {
  display: block;
  line-height: 40px;
  color: #5c7b98;
  text-decoration: none; }
